.w-100{
	width:100%;
}
.head{
	background-color:#ccc;
}
.m-0{
	margin:0;
}
.d-flex{
	display:flex;
}
.head img{
	margin-right:62%;
}
.head a{
	background-color:green;
	font-size:18px;
	padding:15px;
	color:#fff;
	margin-right:25px;
}
.banner-section img{
	max-width:100%;
}
.banner-text{
	position:absolute;
	margin-top:-20%;
	margin-left:20%;
}
h2{
	margin-bottom:0px;
}
h5{
	margin-top:10px;
}
.about p{
	padding:0px 60px;
}
.section1{
	background-color:green;
	padding:0px 30px;
}
.text-center{
	text-align:center;
}
li{
	color:#ff;
	font-size:18px;
}
ul{
	margin-left:20%;
	
}
footer{
	background-color:#ccc;
	padding:10px 0px;
}
footer p{
	padding:0px 30px;
}
h1:hover{
	background-color:green;
}
button:hover{
	background-color:pink;
}
button:focus{
	background-color:red;
}
button:active{
	background-color:orange;
}
li:nth-child(8){
	background-color:orange;
}
p:first-letter{
	font-size:40px;
}
p:before{
	content:'>>>>&';
}
#id{
	
}
